.body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(245, 242, 232);
}

.header {
  text-align: center;
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0px;
}

.card {
  height: 100%
}

.datestyles {
  display: flex;
  justify-content: center;
}
p {
  font-size:large;
  margin-top: 10px;
}
.ui-datepicker-header {
  background-color: black;
}
.ui-state-active {
  background-color: dimgray!important;
}
.ui-state-default, .ui-widget-content {
  border: none!important;
}
.ui-state-highlight {
  background-color: blueviolet!important;
  color: white!important;
}
.ui-icon-circle-triangle {
  background-color: white;
}




